$CircleSize: 50px;

$devBorder: 0px;

$ringOuter: 100%;
$ringInner: 50%;
$ringMiddle: calc($ringOuter-(($ringOuter-$ringInnner)/2));
$ringMiddle: 75%;

$colorHour: blue;
$colorDecs: red;
$colorMins: lime;