@import 'Variables.scss';

.CircleGroup {
  width: $CircleSize;
  height: 100%;
  border-radius: $CircleSize;
  // border: 1px dotted cyan;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}

.Circle1{

  color: white;
  background-color: rgba(0,0,0,0);
  height: $CircleSize;
  width: $CircleSize;
  max-height: 5vw;
  max-width: 5vw;
  border-radius: 50%;
  display: flex;
  font-weight: 600;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  // &.rowDecs {
  //   margin: 75px 0;
  // }
  // &.rowMins {
  //   margin: 150px 0;
  // }
}

.Circle2{
  border: 1px dotted grey;
  background-color: rgba(0,0,0,0.0);
  color: white;
  height: $CircleSize;
  width: $CircleSize;
  border-radius: 50%;
  display: flex;
  font-weight: 600;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  // &.rowDecs {
  //   margin: 75px 0;
  // }
  // &.rowMins {
  //   margin: 150px 0;
  // }
}

.hour {
  background-color: $colorHour;
  border: 1px solid rgba(0,0,0,0);
  box-shadow: 0 0px 15px 0 $colorHour;
}

.decs{
  background-color: $colorDecs;
  border: 1px solid rgba(0,0,0,0);
  box-shadow: 0 0px 15px 0 $colorDecs;
}

.mins {
  background-color: $colorMins;
  border: 1px solid rgba(0,0,0,0);
  box-shadow: 0 0px 15px 0 $colorMins;
}

.empty {
  background-color: rgba(0,0,0,0.2);
  border: 1px dotted rgba(27, 27, 27, 0.8);
}

.pos0 {
  transform: rotate(0deg);
}
.pos1 {
  transform: rotate(30deg);
}
.pos2 {
  transform: rotate(60deg);
}
.pos3 {
  transform: rotate(90deg);
}
.pos4 {
  transform: rotate(120deg);
}
.pos5 {
  transform: rotate(150deg);
}
.pos6 {
  transform: rotate(180deg);
}
.pos7 {
  transform: rotate(210deg);
}
.pos8 {
  transform: rotate(240deg);
}
.pos9 {
  transform: rotate(270deg);
}
.pos10 {
  transform: rotate(300deg);
}
.pos11 {
  transform: rotate(330deg);
}

