@import 'Variables.scss';

.CircleGroup {
  width: $CircleSize;
  height: 100%;
  border-radius: $CircleSize;
  // border: 1px dotted cyan;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}

.Circle{
  color: white;
  background-color: rgba(0,0,0,0);
  height: $CircleSize;
  width: $CircleSize;
  max-width: $CircleSizeMax;
  max-height: $CircleSizeMax;
  border-radius: 50%;
  display: flex;
  font-weight: 600;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  &.hour {
    background-color: $colorHour;
    border: 1px solid rgba(0,0,0,0);
    box-shadow: 0 0px 15px 0 $colorHour;
  }
  &.decs{
    background-color: $colorDecs;
    border: 1px solid rgba(0,0,0,0);
    box-shadow: 0 0px 15px 0 $colorDecs;
  }
  &.mins {
    background-color: $colorMins;
    border: 1px solid rgba(0,0,0,0);
    box-shadow: 0 0px 15px 0 $colorMins;
  }
  &.empty {
    background-color: $colorEmpty;
    border: 1px dotted rgba(27, 27, 27, 0.8);
    &.0 {
      display: none;
    }
  }
}



.pos0 {
  transform: rotate(0deg);
}
.pos1 {
  transform: rotate(30deg);
}
.pos2 {
  transform: rotate(60deg);
}
.pos3 {
  transform: rotate(90deg);
}
.pos4 {
  transform: rotate(120deg);
}
.pos5 {
  transform: rotate(150deg);
}
.pos6 {
  transform: rotate(180deg);
}
.pos7 {
  transform: rotate(210deg);
}
.pos8 {
  transform: rotate(240deg);
}
.pos9 {
  transform: rotate(270deg);
}
.pos10 {
  transform: rotate(300deg);
}
.pos11 {
  transform: rotate(330deg);
}

