@import 'Variables.scss';

.MagicBlackTimeBox {
  position: relative;
  border: $devBorder dashed white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &.portrait {
    width: 80vw;
    height: 80vw;
  }
  &.landscape {
    width: 80vh;
    height: 80vh;
  }


  .Time {
    color: $colorTime;
    font-size: 18pt;
    font-family: 'Inconsolata', monospace;
    position: fixed;
    bottom: 1vh;
    left: 50%;
    transform: translate(-50%, -50%);

    &.black, &.grey {
      display: none;
    }

  }

  .ClockFace {
    border: $devBorder dashed lime;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;

    &.black {
      display: none;
    }  
  }


  .CircleHours {
    border-radius: 50%;
    display: flex;
    flex-direction: row;  
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(30deg);
    height: $ringOuter;
    width: $ringOuter;
    border: $devBorder dashed blue
  }
  .CircleDecs {
    border-radius: 50%;
    display: flex;
    flex-direction: row;  
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(60deg);
    width: $ringMiddle;
    height: $ringMiddle;
    border: $devBorder dashed red
  }
  .CircleMins {
    border-radius: 50%;
    display: flex;
    flex-direction: row;  
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(60deg);
    height: $ringInner;
    width: $ringInner;
    border: $devBorder dashed green
  }


}

